ul{
  padding: 0;
  margin: 0;
}

.itemlist ul{
    /* display: flex; */
    margin: auto auto;
    /* justify-content: center; */
  }
  
  .itemlist ul li {
    display: flex;
    justify-content: center;
    padding: 0 20%;
  }
  .itemlist ul li div {
    width: 33%;
  }